<span [innerHTML]="model[data.name]" [class.hidden]="visible"></span>
<div class="input">
    <input *ngIf="data.type == 'text'" class="form-control form-control-sm" [class.hidden]="!visible"
        [placeholder]="data.placeholder" [name]="data.name" #item="ngModel" [(ngModel)]="model[data.name]"
        (ngModelChange)="onChange()" required [class.invalid]="item.invalid && item.dirty">

    <input *ngIf="data.type == 'number'" type="number" class="form-control form-control-sm" [class.hidden]="!visible"
        [placeholder]="data.placeholder" [name]="data.name" #item="ngModel" [(ngModel)]="model[data.name]"
        (ngModelChange)="onChange()" required [class.invalid]="item.invalid && item.dirty">
</div>