<form novalidate #form="ngForm">
    <table>
        <thead>
            <tr>
                <th></th>
                <ng-container *ngFor="let item of formModel.inputs">
                    <th *ngIf="item.type != 'hidden'">{{item.placeholder}}</th>
                </ng-container>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <i [class]="formModel.icon"></i>
                    <app-list-form [formModel]="formModel" #formWrapper></app-list-form>
                </td>

                <ng-content *ngTemplateOutlet="formWrapper.template"></ng-content>

            <tr *ngFor="let item of list" app-list-item [formInfo]="formInfo" [model]="item" (refreshList)="refreshList.emit()"></tr>
        </tbody>
    </table>
</form>