table {
    table-layout: fixed;
    max-width: max-content;
    min-width: min-content;
    margin: auto;
}

table thead {
    position: sticky;
    background-color: rgba(220, 220, 255, 1);
    top: 0;
    z-index: 1;
}

td {
    transition: 0.3s;
    position: relative;
    padding: 5px;
    border: 1px solid rgba(100, 100, 255, 0.2);
    border-top: none;
    border-bottom: none;
}

td:hover {
    background-color: rgba(200, 200, 255, 1);
}

.td-input{
    min-width: 5em;
}

th {
    padding: 5px 12px;
}

tr {
    transition: 0.3s;
    border: 1px solid rgba(100, 100, 255, 0.4);
}

tr:hover {
    background-color: lightgrey;
    cursor: pointer;
}

td .input {
    position: absolute;
    display: inline-block;
    padding: 5px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.input span {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.input * {
    width: 100%;
    box-sizing: border-box;
}

.hidden {
    display: none;
}