table {
    table-layout: fixed;
    max-width: max-content;
    min-width: min-content;
    margin: auto;
}

table thead {
    position: sticky;
    background-color: azure;
    top: 0;
  }

td {
    transition: 0.3s;
    padding: 5px;
    border: 1px solid rgba(100, 100, 255, 0.2);
    border-top: none;
    border-bottom: none;
}

td [type="number"]{
    width: 5em;
}

th {
    padding: 5px;
}

tr {
    transition: 0.3s;
    border: 1px solid rgba(100, 100, 255, 0.4);
}

tr:hover {
    background-color: lightgrey;
    cursor: pointer;
}